/* CSS Document */
html{
	margin:0;
	padding:0;
	font-size:12px;
	color:#333;
	height:100%;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-POSITION: left top;
	BACKGROUND-REPEAT: no-repeat;
}
body{
	margin:0;
	padding:0;
	line-height:18px;
	height:100%;
	width:1000px;
	margin:auto;
	background-color:#ffffff;FONT-FAMILY: Verdana,Segoe,sans-serif; 
}
.Contents{
	float:left;
	width:99%;
	height:90%;
	padding-top:8px;
	margin-left:6px;
	padding-bottom:6px; 
	background-color:#FFFFFF; 
}
.Search{
	width:92%;
	margin:0 auto;
}
.logo_image{
	background:url(/images/logo-image.png) no-repeat;
	height:256px;
	width:256px;
	margin-top:10px;
	margin-left:40px;
}
.logo_rs{
	background:url(/images/logo_s.png) no-repeat;
	height:64px;
	width:64px;
	float:left;
}

.searchdiv{
	background:url(/images/searchdiv.png) no-repeat;
	height:163px;
	width:901px;
	float:left;
	margin-top:-80px;
}
.searchtext{
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
}
.searchtip{
	font-size:12px;
	color:#cccccc;
	margin-top:5px;
}
.searchinput{
	font-size:14px;
	padding:7px 10px;
	width:500px;
}
.searchinput2{
	font-size:14px;
	padding:7px 10px;
	width:300px;
}
.rsinfo{
	background:url(/images/rsinfo.png) no-repeat;
	height:40px;
	width:901px;
	float:left;
	padding:12px 0 0 22px;
}
.image{
	padding:5px 5px 5px 5px;
	border:1px solid #EFEFEF;
	margin-right:5px;
}
.blur{
	-moz-border-radius:3px 3px 3px 3px;
	border:1px solid #CCCCCC;
}
.searchForm{
	clear:both;
	padding:35px 20px 0 50px;
	text-align:left;
}
.searchForm2{
	clear:both;
	padding:10px 20px 0 0px;
	text-align:left;
}
.leftPanel{
	width:180px;
	height:500px;
	text-align:right;
	border-right:1px solid #CCCCCC;
}
.rightPanel{
	width:80%;
	height:300px;
}

.header_top{ margin:0 8px 0 6px; border-top:2px #EFEFEF solid;background-color:#f8f8f8; height:39px}
.logo{float:left; padding-left:2px; padding-top:2px;}
.searchForm ul{margin:0;padding:0; list-style-type:none;}
.searchForm li{margin:0;padding:0; list-style-type:none;float:left;}
.imagePanel{margin:0;padding:0; list-style-type:none;}
.imagePanel li{margin:0;padding:0; list-style-type:none;float:left;}

dl{margin:0;padding:0; list-style-type:none;}
dt{margin:0;padding:0; list-style-type:none;}
dd{margin:0;padding:0; list-style-type:none;}


IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}

A:link {
	color:green;
	TEXT-DECORATION: none
}
A:visited {
	color:green;
	TEXT-DECORATION: none
}
A:hover {
	color:#d30404;
	TEXT-DECORATION: none
}
A:active {
	color:green;
	TEXT-DECORATION: none
}




A.linkBlue1:link {	color:#1587e7;	TEXT-DECORATION:none}
A.linkBlue1:visited {	color:#1587e7;	TEXT-DECORATION: none}
A.linkBlue1:hover {	color:#2675b8;	TEXT-DECORATION: none}
A.linkBlue1:active {	color:#1587e7;	TEXT-DECORATION: none}


.clears{ clear:both}
.left{float:left}
.leftbg{float:left}
.right{float:right}

.txtOrange{ color:#e35f1e}
.txtGray1{ color:#888888}
.txtGray2{ color:#666666}
.txtBlue{ color:#0a80e2}
.txtBlue1{color:#0264a3}
.txtBlue2{ color:#002250}
.txtGreen{ color:#567a4e}
.txtRed1{color:#800015}

.txtFont1{ font-size:24px}
.txtFont2{ font-size:14px}
.txtFont3{ font-size:18px}

/* pages */
.Pages{ margin-top:2px}
.Pages li{float:left;  MARGIN-RIGHT: 5px; font-size:10px;}
.Pages LI A {DISPLAY: block; COLOR: #000; padding:0px 3px; }
.Pages LI A:hover {	 COLOR: #c70909; }
.Pages LI A.cur_page {COLOR: #fff; background-color:#019ad3}
.imgs{ padding-top:3px;}
.input_jump{ padding-left:20px}
.input_jump input{ width:40px; height:14px; border:1px #939ca3 solid;}


/* ¸¡¶¯¿ò */
.FloatingBox{position:fixed; #position: fixed;_position: fixed;position:absolute; background:url(../images/bg_frame.png) no-repeat; width:409px; height:218px}
.FloatingBox_Contents{ padding-left:25px; padding-top:10px; padding-right:15px; line-height:20px;}
.FloatingBox_Contents table{margin-top:10px}


.searchInBox{position:fixed; #position: fixed;_position: fixed;position:absolute;border:1px #a7d5f6 solid; width:130px; background-color:#fff}
.searchInBox_Contents{ padding-left:25px; padding-top:10px; padding-right:15px; line-height:20px;}
.searchInBox_Contents table{margin-top:10px}

#board {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #FF9900;
	clear:both;
	color:#666666;
	line-height:20px;
	margin:10px 0;
	overflow:hidden;
	padding:5px;
}
#board div.news {
	border-left:1px solid #DDDDDD;
	color:#999999;
	float:right;
	padding:2px 10px;
	width:380px;
}
.text-no  {
color:red;
}
.text-yes {
color:#339900;
}
.text-key {
color:#FF6600;
}
.text-small {
font-size:12px;
}
.text-bold {
font-size:12px;
font-weight:bold;
}
#quick {
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #B7CDE5;
clear:both;
color:#666666;
line-height:20px;
margin:10px 0;
overflow:hidden;
}
#quick div {
background:none repeat scroll 0 0 #F3F7FD;
font-weight:bold;
line-height:25px;
overflow:hidden;
text-indent:10px;
}
#quick ul {
color:#999999;
margin:5px;
overflow:hidden;
padding:0 0 5px;
}
#quick ul li {
float:left;
margin:5px 10px;
overflow:hidden;
width:150px;
}
#quick ul span {
color:#999999;
}
#quick ul a {
border:1px solid #CCCCCC;
display:block;
padding:5px;
text-decoration:none;
width:138px;
}
#quick ul a:hover {
	background:url("../images/icons/bg.png") no-repeat scroll right -760px transparent;
	border:1px solid #4B90B2;
}
#quick ul img {
float:left;
margin:5px;
vertical-align:middle;
}